#root {
  max-width: 1280px;
  margin: 0 auto;
  /* text-align: center; */
  font-family: monospace;
}

*::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing: border-box;
}

.logo {
  height: 3em;
  padding: 0.5em 0.5em 0 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

h1,
h2 {
  margin: 0;
}

.text-green {
  color: green;
}
.text-red {
  color: red;
}
.background-on {
  color: white;
  background-color: green;
}
.background-off {
  color: white;
  background-color: #1a1a1a;
}

textarea {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  #root {
    /* background-color: lightblue; */
    width: 100%;
    margin: 0;
  }
}
