

*::-webkit-scrollbar {
    display: none;
}

.app {
    width: 100vw;
    max-width: var(--app-max-width);
    
    min-height: 100vh;
  }
  
  footer {
    min-height: 50px;
    text-align: center;
  }

.logo {
    height: 3em;
    padding: 0.5em 0.5em 0 0.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #a2a6f9);
}

.item-card-100-x-100 {
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: var(--transition-all-05);
    overflow-y: scroll;
}

.item-card-100-x-75 {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    transition: var(--transition-all-05);
}

.item-card-100-x-50 {
    width: 100%;
    aspect-ratio: 2 / 1;
    transition: var(--transition-all-05);
}

.item-card-100-x-33 {
    width: 100%;
    aspect-ratio: 3 / 1;
    transition: var(--transition-all-05);
}

.item-card-100-x-25 {
    width: 100%;
    aspect-ratio: 4 / 1;
    transition: var(--transition-all-05);
}

.item-card-50-x-25 {
    width: calc(50% - 0.5rem);
    aspect-ratio: 2 / 1;
    transition: var(--transition-all-05);
}

.item-card-50-x-50 {
    width: calc(50% - 0.5rem);
    aspect-ratio: 1 / 1;
    transition: var(--transition-all-05);
}

.text-small {
    font-size: .6rem;
}
.text-normal {
    font-size: 1rem;
}
.text-medium {
    font-size: 1.25rem;
}
.text-large {
    font-size: 1.5rem;
}
.text-xlarge {
    font-size: 2rem;
}

@media only screen and (max-width: var(--app-max-width)) {
    #root {
        width: 100%;
        margin: 0;
    }
}
