

*::-webkit-scrollbar {
    display: none;
}

.app {
    width: 100vw;
    max-width: var(--app-max-width);
    
    min-height: 100vh;
  }
  
  footer {
    min-height: 50px;
    text-align: center;
  }

.logo {
    height: 3em;
    padding: 0.5em 0.5em 0 0.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.item-card-full {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow-y: scroll;
}

/* full width x half of width tall */
.item-card-full-x-half {
    width: 100%;
    aspect-ratio: 2 / 1;
}

/* half width x quarter of width tall */
.item-card-full-x-quarter {
    width: 100%;
    aspect-ratio: 4 / 1;
}

/* half width x quarter of width tall */
.item-card-full-x-third {
    width: 100%;
    aspect-ratio: 3 / 1;
}

/* half width x quarter of width tall */
.item-card-half-x-quarter {
    width: calc(50% - 0.5rem);
    aspect-ratio: 2 / 1;
}

/* half width x half of width tall */
.item-card-half-x-half {
    width: calc(50% - 0.5rem);
    aspect-ratio: 1 / 1;
}

.text-small {
    font-size: .6rem;
}

@media only screen and (max-width: var(--app-max-width)) {
    #root {
        width: 100%;
        margin: 0;
    }
}
