:root {
    --app-max-width: 500px;
    --app-header-height: 4rem;
    --color-info-purple-00: #b1a3d3;
    --color-info-purple-01: #9582c4;
    --color-info-purple-02: #7961b4;
    --color-info-green-00: #77ce8a;
    --color-cold-blue-00: #6bbcd1;
    --color-hot-red-00: #e23201;
    --bg-color-dark: #242424;
    --bg-color-dark-purple: #1b142c;
    --border-radius-200: 2rem;
    --transition-all-05: all 0.5s ease-out;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0 0 0 0;
}

body {
    margin: 0 0;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color-dark);

}

button, select {
    border: none;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    font-family: monospace;
}

/* @media (prefers-color-scheme: light) {
    :root {
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */