.zone-component-card {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    background-color: var(--color-info-purple-01);
    border: 1px solid var(--bg-color-dark);
    border-radius: var(--border-radius-200);
    overflow: scroll;
}

.zone-component-header {
    width: 100%;
    padding: 1rem;
    padding-top: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icon {
        width: 3rem;
    }
}
