.remote-control {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.remote-control:hover {
    cursor: pointer;
}

.remote-control-heater-override {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 1rem;
    background-color: var(--color-info-green-00);
    font-size: 1rem;
    .configure-override {
        display: flex;
        align-items: center;
    }
    select {
        width: 5rem;
        margin-inline: .3rem;
        border-radius: var(--border-radius-25);
        text-align: center;
        font-size: 1.25rem;
    }
    button[id="set-override"] {
        height: 3rem;
        width: 100%;
        border-radius: var(--border-radius-25);
    }

}

.remote-control-cooler {
    background-color: var(--color-cold-blue-00);
}

.remote-control-warmer {
    background-color: var(--color-hot-red-00);
}
