.remote-control {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.remote-control:hover {
    cursor: pointer;
}

.remote-control-heater-override {
    display: flex;
    gap: 1rem;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    background-color: var(--color-info-green-00);
    font-size: 1rem;
    .configure-override {
        display: flex;
        align-items: center;
    }
    select {
        height: 1.9rem;
        width: 5rem;
        margin-inline: .3rem;
        color: var(--bg-color-dark);
        border: 1px solid var(--bg-color-dark);
        border-radius: var(--border-radius-200);
        text-align: center;
        font-size: 1.25rem;
        background-color: var(--color-info-green-00);
    }
    button[id="set-override"] {
        height: 3rem;
        width: 100%;
        border-radius: var(--border-radius-200);
        font-size: 1.25rem;
        color: var(--bg-color-dark);
        border: 1px solid var(--bg-color-dark);
        background-color: var(--color-info-green-00);
        border-radius: var(--border-radius-200);
    }

}

.remote-control-cooler {
    background-color: var(--color-cold-blue-00);
    border-top-right-radius: var(--border-radius-200);
    border-bottom-right-radius: var(--border-radius-200);
}

.remote-control-warmer {
    background-color: var(--color-hot-red-00);
    border-top-left-radius: var(--border-radius-200);
    border-bottom-left-radius: var(--border-radius-200);
}
