.thermostat-control {
    display: flex;
    align-items: center;
    justify-content: center;
}
.thermostat-control:hover {
    cursor: pointer;
}

.thermostat-control-heater-override {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    background-color: var(--color-info-green-00);
    .configure-override {
        display: flex;
        align-items: center;
    }
    select {
        height: 1.9rem;
        width: 5rem;
        margin-inline: 0.3rem;
        color: var(--bg-color-dark);
        border: 1px solid var(--bg-color-dark);
        border-radius: var(--border-radius-200);
        text-align: center;
        background-color: var(--color-info-green-00);
    }
    button[id='set-override'] {
        height: 3rem;
        width: 100%;
        border-radius: var(--border-radius-200);
        color: var(--bg-color-dark);
        border: 1px solid var(--bg-color-dark);
        background-color: var(--color-info-green-00);
        border-radius: var(--border-radius-200);
    }
}
