.thermometer-details-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-color-dark); 
    overflow: scroll;
    border-radius: var(--border-radius-200);
}